body {
	font-family: Verdana,Arial,sans-serif;
}
h1 {
	margin-left: 20px;
	color: #393939;
}
h4 {
	margin-left: 20px;
	color: #393939;
}
h2 {
	font-size: 1.2em;
	margin: 25px 0 5px 0;
	color: #393939;
}

.wrapper {
	width: 800px;
	float: left;
	margin-left: 40px;
}

.wrapper > div {
	margin: 35px 0;
}
.graph-svg-component {
	background-color: #0E2C36;
	margin-left: 20px;
}
.box {
	display: inline-flex;
	height: 20px;
	width: 20px;
	border: 2px solid;
	border-radius: 4px;
	margin-left: 25px;
	margin-top: 10px;
	margin-right: 5px;
}
.groupLabel {
	display: inline-flex;
	line-height: 15px;
}
.boxContainer {
	display: inline-flex;
}
#force-layout-graph {
	display: inline-block;
	float:left;
}
#dropdown {
	display: inline-block;
	float:left;
	width: 300px;
	height: 500px;
	background-color: #8FAACF;
}
input[type=text], select {
    width: 98%;
    padding: 12px 20px;
    margin-top: 8px;
	margin-left: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
circle.node {
  fill: lightsteelblue;
  stroke-width: 3px;
}
circle.leaf {
  stroke-width: 1.5px;
}
path.hull {
  fill: lightsteelblue;
  fill-opacity: 0.3;
}
line.link {
  stroke: #333;
  stroke-opacity: 0.5;
}
