#force-layout-graph {
	display: inline-block;
	float:left;
}
.wrapper {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#dropdown {
	display: inline-block;
	float:left;
	width: 300px;
	height: 500px;
	background-color: #8FAACF;
}
input[type=text], select {
    width: 98%;
    padding: 12px 20px;
    margin-top: 8px;
	margin-left: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
circle.node {
  fill: lightsteelblue;
  stroke-width: 3px;
}
circle.leaf {
  stroke-width: 1.5px;
}
path.hull {
  fill: lightsteelblue;
  fill-opacity: 0.3;
}
line.link {
  stroke: #333;
  stroke-opacity: 0.5;
  pointer-events: none;
}