circle.node {
  fill: lightsteelblue;
  stroke-width: 3px;
}
circle.leaf {
  stroke-width: 1.5px;
}
path.hull {
  fill: lightsteelblue;
  fill-opacity: 0.3;
}
line.link {
  stroke: #333;
  stroke-opacity: 0.5;
  pointer-events: none;
}
.axis {
  fill: #4B5C75;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: #4B5C75;
  stroke-width: 4px;
  stroke-linecap: round;
}

.slider .handle path {
  stroke: black;
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: black;
  text-align: center;
  font-size: 18px;
}